<a href="https://colab.research.google.com/github/shailendrarg/NLP/blob/master/NLP-Twitter_Sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
train_path="C:\\Users\\vidya\\Pictures\\twitter-sentiment-analysis2\\train.csv"
df=pd.read_csv(train_path,encoding = "ISO-8859-1")

In [0]:
df.head()

   ItemID  Sentiment                                      SentimentText
0       1          0                       is so sad for my APL frie...
1       2          0                     I missed the New Moon trail...
2       3          1                            omg its already 7:30 :O
3       4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4       5          0           i think mi bf is cheating on me!!!   ...

In [0]:
#removing item IDasit serves no use for ML
df.drop(columns=["ItemID"],axis=1,inplace=True)

In [0]:
df.head()

   Sentiment                                      SentimentText
0          0                       is so sad for my APL frie...
1          0                     I missed the New Moon trail...
2          1                            omg its already 7:30 :O
3          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4          0           i think mi bf is cheating on me!!!   ...

In [0]:
df.isnull().sum()  #no missing data

Sentiment        0
SentimentText    0
dtype: int64

In [0]:
#check for sentiment uniwue values
df.Sentiment.unique()  #there are only two sentiments

array([0, 1], dtype=int64)

In [0]:
#lets check if the dataset is balanced
(df.Sentiment==0).sum() # 0-Negative sentiment

43532

In [0]:
(df.Sentiment==1).sum() #positive sentiment

56457

In [0]:
#checking the ratio of sentiments
43532/56457  # its a balanced one

0.7710647041110934

In [0]:
df.SentimentText.head()  #it needs to be converted to as a numerical feature using NLP

0                         is so sad for my APL frie...
1                       I missed the New Moon trail...
2                              omg its already 7:30 :O
3              .. Omgaga. Im sooo  im gunna CRy. I'...
4             i think mi bf is cheating on me!!!   ...
Name: SentimentText, dtype: object

In [0]:
data=df.SentimentText.values
data[0:10]

array(['                     is so sad for my APL friend.............',
       '                   I missed the New Moon trailer...',
       '              omg its already 7:30 :O',
       "          .. Omgaga. Im sooo  im gunna CRy. I've been at this dentist since 11.. I was suposed 2 just get a crown put on (30mins)...",
       '         i think mi bf is cheating on me!!!       T_T',
       '         or i just worry too much?        ',
       '       Juuuuuuuuuuuuuuuuussssst Chillin!!',
       '       Sunny Again        Work Tomorrow  :-|       TV Tonight',
       '      handed in my uniform today . i miss you already',
       '      hmmmm.... i wonder how she my number @-)'], dtype=object)

In [0]:
type(data[0])

str

In [0]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer  # lemmatizer
lm=WordNetLemmatizer()
final_sentiments =[]
for i in range(0,len(data)):
    sentences=re.sub("[^AZ-az]"," ",data[i])#remove punctuations
    sentences=sentences.lower() #make all lowercase
    sentences=sentences.split() #split to make words
    sentences=[lm.lemmatize(words)for words in sentences if not words in stopwords.words("english") ] #lamatise the words
    sentences=" ".join(sentences) #add those words 
    final_sentiments.append(sentences) #make a final list with data

In [0]:
len(final_sentiments)

In [0]:
#converting the words into numbers for TF-idf
from sklearn.feature_extraction.text import TfidfVectorizer
tf=TfidfVectorizer()
X=tf.fit_transform(final_sentiments).toarray()

In [0]:
X.shape  #it has 110 unique features

(99989, 110)

In [0]:
y=df.Sentiment
y.shape

(99989,)

In [0]:
#Using classififcation algorthm
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.2,random_state=0)

In [0]:
from sklearn.naive_bayes import MultinomialNB
mb=MultinomialNB()
mb.fit(X_train,y_train)
y_pred=mb.predict(X_test)
score=accuracy_score(y_pred,y_test)
score

0.5601060106010601

In [0]:
rf=RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred=rf.predict(X_test)
score=accuracy_score(y_pred,y_test)
score

C:\Users\vidya\pythonfolder\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.5605060506050605

#Test data processing

In [0]:
test_path="C:\\Users\\vidya\\Pictures\\twitter-sentiment-analysis2\\test.csv"
test_df=pd.read_csv(test_path,encoding = "ISO-8859-1")

In [0]:
test_df.head()

   ItemID                                      SentimentText
0       1                       is so sad for my APL frie...
1       2                     I missed the New Moon trail...
2       3                            omg its already 7:30 :O
3       4            .. Omgaga. Im sooo  im gunna CRy. I'...
4       5           i think mi bf is cheating on me!!!   ...

In [0]:
len(test_df)

299989

In [0]:
test_data=test_df.SentimentText.values

len(test_data)

299989

In [0]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer  # lemmatizer
lm=WordNetLemmatizer()
final_test_sentiments =[]
for i in range(0,len(test_data)):
    test_sentences=re.sub("[^AZ-az]"," ",test_data[i])#remove punctuations
    test_sentences=test_sentences.lower() #make all lowercase
    test_sentences=test_sentences.split() #split to make words
    test_sentences=[lm.lemmatize(words)for words in test_sentences if not words in stopwords.words("english") ] #lamatise the words
    test_sentences=" ".join(test_sentences) #add those words 
    final_test_sentiments.append(test_sentences) #make a final list with data

In [0]:
len(final_test_sentiments)

299989

In [0]:
#converting the words into numbers for TF-idf
from sklearn.feature_extraction.text import TfidfVectorizer
tf=TfidfVectorizer(max_features=110) #since the model has 110 features
X_valid=tf.fit_transform(final_test_sentiments).toarray()

In [0]:
X_valid.shape

(299989, 110)

In [0]:
y_valid=rf.predict(X_valid)  #predictions

In [0]:
y_predict=[]
for predictions  in y_valid:
    y_predict.append(predictions)

In [0]:
len(y_predict)

299989

In [0]:
valid_df=pd.DataFrame(y_predict,columns=["Sentiment"])

In [0]:
len(valid_df)

299989

In [0]:
ItemID=[]
for i in range(1,299990):
    ItemID.append(i)

In [0]:
len(ItemID)

299989

In [0]:
ItemID=pd.DataFrame(ItemID,columns=["ItemID"])

In [0]:
ItemID.head()

   ItemID
0       1
1       2
2       3
3       4
4       5

In [0]:
sumbinssion_df=pd.concat([ItemID,valid_df],axis=1)

In [0]:
submission_data=sumbinssion_df.to_csv("C:\\Users\\vidya\\Pictures\\twitter-sentiment-analysis2\\submission.csv",index=False)